<tr class="account-row">
    <td>{{ account.name }}</td>
    <td>{{ account.balance | price }}</td>
    <td><div class="text--small">{{ account.notes_html | safe }}</div></td>
    <td>
        <div class="account-editor__actions">
            {% if account.archived %}
                <button
                    hx-post="/accounts/{{ account.id }}/unarchive"
                    hx-target="body"
                >Unarchive</button>
            {% else %}
                <button 
                    hx-get="/accounts/{{ account.id }}/editor"
                    hx-on:click="
                        if (document.querySelector('.editing')) {
                            if (confirm('You are already editing a row. Do you want to cancel that edit and continue?') === false) {
                                return;
                            }
                            htmx.trigger('.editing', 'cancel');
                        }
                        htmx.trigger($el, 'edit');
                    "
                    hx-target="closest tr"
                    hx-swap="outerHTML"
                >
                    Edit
                </button>
                <button
                    hx-post="/accounts/{{ account.id }}/archive"
                    hx-confirm="Are you sure you want to archive this account?"
                    hx-target="body"
                >Archive</button>
            {% endif %}
        </div>
    </td>
    <input type="hidden" name="account_id" value="{{ account.id }}">
</tr>