{% extends 'layout.html' %}

{% block content %}

<h2>Accounts</h2>

<table class="data-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Balance</th>
        <th>Notes</th>
        <th></th>
    </tr>
    </thead>
    <tbody
        hx-post="/accounts/reorder"
        hx-trigger="end"
        hx-include="input[name='account_id']"
        hx-target="body"
    >
    <tr>
        <td><input type="text" name="name" id="name"></td>
        <td><input type="number" name="balance" id="balance"></td>
        <td><textarea name="notes" id="notes"></textarea></td>
        <td><button
            hx-post="/accounts"
            hx-target="body"
            hx-include="#name, #balance, #notes"
        >Add</button></td>
    </tr>
    {% for account in unarchived %}
        {% include 'account_single.html' %}
    {% endfor %}
    </tbody>
</table>

{% if archived | length > 0 %}
<details class="archived">
    <summary>Show archived accounts</summary>
    <table class="data-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Balance</th>
            <th>Notes</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for account in archived %}
            {% include 'account_single.html' %}
        {% endfor %}
        </tbody>
    </table>
</details>
{% endif %}

<script defer src="{{ url_for('static', filename='js/accounts.js') }}"></script>
{% endblock %}