<!doctype html>
<html lang="en-US">
<head>
    <title>Tuppence</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script defer src="{{ url_for('static', filename='js/util.js') }}" type="module"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome.min.css') }}"/>
    <link rel="icon" href="{{ url_for('static', filename='coins.png') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <h1>
            <img class="header__icon" src="{{ url_for('static', filename='coins.png') }}"/>
            Tuppence
        </h1>
        <nav id="header-nav" hx-boost="true">
            <ul>
                {% if is_authenticated() %}
                    <li><a href="/" {% if current_page == '/' %}class="current"{% endif %}>Overview</a></li>
                    <li><a href="/accounts" {% if current_page == '/accounts' %}class="current"{% endif %}>Accounts</a></li>
                    <li><a href="/transactions" {% if current_page == '/transactions' %}class="current"{% endif %}>Transactions</a></li>
                    <li><a href="/pots" {% if current_page == '/pots' %}class="current"{% endif %}>Pots</a></li>
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Create account</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>

        {% block content %}{% endblock %}

    </main>
</body>
</html>