{% extends 'layout.html' %}

{% block content %}

<h1>Login</h1>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<form action="/login" method="POST">
    <label for="email_address">Email address</label>
    <input type="email" id="email_address" name="email_address" required>
    <input type="submit" value="Login">
    <p>You will be sent an email with a link to login.</p>
</form>

{% endblock %}
