{% extends 'layout.html' %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<h2>Overview</h2>

<p>You have <strong>{{ account_balance | price }}</strong> across all your accounts.</p>

<p><strong>{{ pot_balance | price }}</strong> is distributed among your pots.</p>

<nav id="month-nav" hx-boost="true">
    <ul>
        <li><i class="fa-solid fa-angle-left"></i> <a href="{{ previous_url }}">{{ previous_month }}</a></li>
        <li>{{ current_month }}</li>
        {% if next_month %}
            <li><a href="{{ next_url }}">{{ next_month }}</a> <i class="fa-solid fa-angle-right"></i></li>
        {% endif %}
    </ul>
</nav>

<h2>Analysis for {{ current_month }}</h2>

<p>You spent <strong>{{ month_expenses | price }}</strong> this month and earned <strong>{{ month_income | price }}</strong>, for a net {% if month_expenses > month_income %}loss{% else %}gain{% endif %} of <strong>{{ month_balance | price }}</strong>.</p>

<div class="grid">
    <div>
        <canvas id="balanceChart"></canvas>
    </div>
    <div>
        <canvas id="categoriesChart"></canvas>
    </div>
</div>

<script>
// These have to be var because HTMX re-evaluates the script tag
// when using hx-boost
var categoriesData = {{ categories_chart | safe }}
var lastYearCategoriesData = {{ last_year_categories_chart | safe }}
var lastMonthCategoriesData = {{ last_month_categories_chart | safe }}
var balanceData = {{ balance_chart | safe }}
</script>

<script defer src="{{ url_for('static', filename='js/overview.js') }}"></script>

{% endblock %}

