<tr x-data="{
    isTransfer: false,
    sign: '-',
    amount: '',
    calculatedAmount: 0,
}">
    <td>
        <input type="date" name="created" id="created" value="{{ current_date }}">
    </td>
    <td>
        <div class="transaction-editor__account">
            <select name="account_id" id="account_id" x-show="!isTransfer">
                {% for account in accounts %}
                    <option value="{{ account.id }}">{{ account.name }}</option>
                {% endfor %}
            </select>
            <div x-show="isTransfer" style="display: none;">
                <label for="transfer_source_id">From</label>
                <select name="transfer_source_id" id="transfer_source_id">
                    {% for account in accounts %}
                        <option value="{{ account.id }}">{{ account.name }}</option>
                    {% endfor %}
                </select>
                <label for="transfer_destination_id">To</label>
                <select name="transfer_destination_id" id="transfer_destination_id">
                    {% for account in accounts %}
                        <option value="{{ account.id }}">{{ account.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </td>
    <td>
        <div class="calculated-input">
            <button
                type="button"
                x-on:click="isTransfer = !isTransfer"
                x-bind:class="isTransfer ? 'transaction-editor__transfer-toggle--active' : 'transaction-editor__transfer-toggle--inactive'"
            >
                <i class="fa-solid fa-arrow-up-arrow-down"></i>
            </button>
            <input type="hidden" name="is_transfer" id="is_transfer" x-bind:value="isTransfer ? 1 : 0">
            <button
                type="button"
                x-on:click="!isTransfer && (sign = (sign == '-' ? '+' : '-'))"
                x-html="isTransfer ? '<i class=\'fa-solid fa-plus\'></i>' : (sign == '-' ? '<i class=\'fa-solid fa-minus\'></i>' : '<i class=\'fa-solid fa-plus\'></i>')"
                x-bind:disabled="isTransfer"
            ></button>
            <input
                type="text"
                autofocus
                x-model="amount"
                x-on:input="calculateAmount"
            >
            <span
                class="calculated-input__calculated"
                x-text="(sign === '+' ? '' : '-') + '£' + calculatedAmount"
                x-show="calculatedAmount != amount"
            ></span>
            <input type="hidden" id="amount" name="amount" x-bind:value="calculatedAmount * (sign === '+' ? 1 : -1)">
        </div>
    </td>
    <td><input type="text" name="description" id="description"></td>
    <td>
        <div x-data="{ categories: [], newCategory: '' }" class="category-selector">
            <input
                type="text"
                x-model="newCategory"
                @keydown.enter.prevent="
                    if (categories.indexOf(newCategory) === -1) {
                        categories.push(newCategory);
                    }
                    newCategory = '';
                "
                @keydown.escape="newCategory = ''"
                name="new_category"
                hx-get="/category/search"
                hx-trigger="keyup changed delay:350ms"
                hx-target="next .category-selector__suggestions"
                placeholder="Add a category"
            >
            <ul class="category-selector__suggestions" style="display: none;"></ul>
            <ul class="category-selector__selected" x-show="categories.length > 0">
                <template x-for="(category, index) in categories">
                    <li>
                        <input type="hidden" name="category_names" x-bind:value="category">
                        <span x-text="category"></span>
                        <button type="button" @click="categories.splice(index, 1)"><i class="fa-solid fa-times"></i></button>
                    </li>
                </template>
            </ul>
        </div>
    </td>
    <td><button
        hx-post="/transactions"
        hx-target="body"
        hx-include="#created, #account_id, #pot_id, #amount, #description, #is_transfer, #transfer_source_id, #transfer_destination_id, input[name='category_names']"
    >Add</button></td>
</tr>