{% extends 'layout.html' %}

{% block content %}
<h2>Transactions</h2>

<nav id="month-nav" hx-boost="true">
    <ul>
        <li><i class="fa-solid fa-angle-left"></i> <a href="{{ previous_url }}">{{ previous_month }}</a></li>
        <li>{{ current_month }}</li>
        {% if next_month %}
            <li><a href="{{ next_url }}">{{ next_month }}</a> <i class="fa-solid fa-angle-right"></i></li>
        {% endif %}
    </ul>
</nav>

{% if accounts|length == 0 %}
    <p>You need an account to create transactions. <a href="/accounts">Add an account</a>.</p>
{% else %}
<table class="data-table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Account</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Categories</th>
        <th></th>
    </tr>
    </thead>
    <tbody
        hx-target="closest tr"
        hx-swap="outerHTML"
    >
    {% include 'transaction_creator.html' %}
    {% for transaction in transactions %}
        {% include 'transaction_single.html' %} 
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}